<section>
  <div class="jumbotron jumbotron-fluid text-center">
    <h1 class="display-3">Events</h1>
    <p class="lead">Checkout All Events As it is happening</p>
  </div>
  <h3 class="text-center text-muted">Upcoming events</h3>
  <hr/>
  <div class="row mb-5">
    <%= upcoming_events %>
  </div>
  <%# Past Events %>
  <h3 class="text-center text-muted">Past events</h3>
  <hr/>
  <div class="row">
    <%= past_events%>
  </div>
</section>
<br>
